/* main layout */
html {
	overflow: hidden;
	height: 100%;
}

/* set margin and padding to 0 to prevent bottom cut */
body {
	font-size: 1rem;
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, .txt {	
	font-family: serif;
}

/* main area align center, max width 80%*/
#main {
	width: fit-content;
	max-width: 80%;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

/* layout of input area */
.input-area {
	padding: 1rem;
	flex-shrink: 0;
}
.input-area > * {
	margin: 0.2rem;
}
.input-area > div {
	padding-bottom: 0.5rem;
}

.input-group {
	margin: 0;
	height: fit-content;
}

.input-group.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* mod label, select, button */
.mods-label {
	flex-basis: auto;
}

.mods {
	width: auto;
	text-transform: uppercase;
	border-radius: 0.2rem;
	font-size: 1rem;
	padding: 0.15rem 0.25rem 0.15rem 0.25rem;
	border: 0.15rem solid lightblue;
	background: lightblue;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mods:focus {
	border: 0.15rem solid SteelBlue;
}
.mods:disabled {
	color: gray;
}

.mods-opt {
	text-transform: uppercase;
	background: lightblue;
	color: #444444;
}
.mods-opt:checked {
	color: #333333;
}
.mods-opt:disabled {
	color: #555555;
}


.middle {
	margin: 0 0.5rem;
	flex-basis: auto;
	flex-shrink: 2;
	flex-grow: 2;
}

.right {
	float: right;
	display: inline-block;
	flex-basis: auto;
}


/* user input label */
.msg-label {
	display: block;
}

/* user input textarea */
textarea {
	font-size: 1rem !important;
}

.msg {
	box-sizing: border-box;
	border-radius: 0.2rem;
	border: 0.15rem inset SteelBlue;
	width: 100%;
	max-width: 100%;
	max-height: 20rem;
	padding: 0.5rem;
	margin: 0.5rem auto;
}

.msg:disabled {
	border: 0.15rem inset lightblue;
	cursor: not-allowed;
}

/* submit and cancel button */
.block {
	display: block;
}

.btn {
	background: SteelBlue;
	color: white;
	border:none;
	border-radius: 0.2rem;
	font-size: 1rem;
	padding: 0.3rem 0.5rem 0.2rem 0.5rem;
	cursor: pointer;
}

.btn:hover {
	background: lightblue;
	transition: 0.2s;
}

.btn:disabled {
	background: lightblue;
	cursor: not-allowed;
}

/* content display with overflow scroll */
.container {
	padding: 0.5rem;
	overflow: auto;
	margin: 0.5rem;
}
.container > * {
	margin: 0.2rem;
	width: auto;
}

/* underline with fit width */
.role {
	font-weight: bold;
	color: SteelBlue;
	text-transform: uppercase;
	border-bottom: 0.1rem solid;
	width: fit-content;
}

/* wrap */
.container pre {
	padding: 0.5rem;
	border: 0.1rem solid #BBBBBB;
	white-space: pre-wrap;
}

.placeholder {
	text-align: center;
	text-decoration: underline;
}