/* main layout */
html {
	overflow: hidden;
	height: 100%;
}

body {
	font-size: 1rem;
	overflow: hidden;
	height: 100%;
}

body, .txt {	
	font-family: serif;
}

#main {
	width: fit-content;
	max-width: 80%;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.mods {
	width: auto;
	text-transform: uppercase;
	border-radius: 0.2rem;
	font-size: 1rem;
	padding: 0.15rem 0.25rem 0.15rem 0.25rem;
	border: 0.15rem solid lightblue;
	background: lightblue;
	color: #333333;
}
.mods:focus {
	border: 0.15rem solid SteelBlue;
}
.mods:disabled {
	color: gray;
}

.mods-opt {
	text-transform: uppercase;
	background: SteelBlue;
	color: white;
}

.right {
	float: right;
}

.input-area {
	padding: 0.5rem;
	flex-shrink: 0;
}
.input-area > * {
	margin: 0.2rem;
}

.msg-label {
	display: block;
}

/* user input textarea */
.msg {
	box-sizing: border-box;
	border-radius: 0.2rem;
	border: 0.15rem inset SteelBlue;
	width: 99.5%;
	max-width: 99.5%;
	max-height: 20rem;
	padding: 0.5rem;
}

.msg:disabled {
	cursor: not-allowed;
}

/* submit button */
.btn {
	background: SteelBlue;
	color: white;
	border:none;
	border-radius: 0.2rem;
	font-size: 1rem;
	padding: 0.3rem 0.5rem 0.2rem 0.5rem;
	cursor: pointer;
}

#yes {	
	display: block;
}

.btn:hover {
	background: lightblue;
	transition: 0.2s;
}

.btn:disabled {
	background: lightblue;
	cursor: not-allowed;
}

/* content display */
.container {
	padding: 0.5rem;
	overflow: auto;
}
.container > * {
	margin: 0.2rem;
	width: auto;
}

.role {
	font-weight: bold;
	color: SteelBlue;
	text-transform: uppercase;
	border-bottom: 0.1rem solid;
	width: fit-content;
}

.container pre {
	padding: 0.5rem;
	border: 0.1rem solid #BBBBBB;
	white-space: pre-wrap;
}