<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> GPT API Test </title>
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
	<div id="main">
		<div class="input-area">
			<div class="input-group flex">
				<label for="mods" class="mods-label">Mods:</label>
				<select id="mods" class="mods middle" ref="mods" v-model="mod_idx">
					<option class="mods-opt" value="" disabled>Select a Module</option>
					<option class="mods-opt" v-for="(idx, key) in mods" :value="key">{{ key }}</option>
				</select>
				<button type="button" class="btn txt right" id="mod_btn" @click="changeMod">Confirm</button>
				
			</div>
			<div class="input-group">
				<label for="user-input" class="msg-label">User Input:</label>
				<textarea id="user-input" class="msg" @keydown.enter.exact="enterHandle($event)" @keydown.enter.shift.exact="" v-model="user_input" disabled></textarea>
				<div class="block">
					<button type="button" id="yes" @click="gpt_api($event)" class="btn txt" disabled>Submit</button>
					<button type="button" id="stop" @click="stop_fetch" class="btn right txt" disabled> Cancel </button>
				</div>
			</div>
		</div>
		<div id="result" class="container">
			<div v-for="item in comments">
				<p class="role">{{ item.role }}:</p>
				<pre class="content">{{ item.content }}</pre>
			</div>
		</div>
	</div>
	<script src="JS/gpt.js" type="module"></script>
</body>
</html>